* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer-container {
    width: 450px;
    min-height: 650px;
    background-color: rgb(255, 181, 193);
    display: grid;
    margin: 50px auto;
    border: 2px solid rgb(237, 50, 81);
    border-radius: 30px;
    align-items: center;
    grid-template-rows: 1fr 3fr;
    position: relative;
}

p {
    color: whitesmoke;
    font-size: 30px;
    font-weight: bolder;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
}

.bow {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 70px;
}

.header {
    border: 2px dotted rgb(237, 50, 81);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    margin: 10px;

}

.header input {
    width: 410px;
    height: 90px;
    border: 2px dotted rgb(237, 50, 81);
    border-radius: 10px;
    font-size: larger;
}

.header img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: -95px;
    align-self: center;
}

.bottom {
    height: 570px;
    border: 2px dotted rgb(237, 50, 81);
    border-radius: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
}

button {
    height: 70px;
    width: 70px;

    border: 2px solid rgb(237, 50, 81);
    background-image: url("hellokitty.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
    font-size: larger;

}

.bottom .zero {
    grid-row: 4;
    grid-column: 2;
}
